@{ViewData["Title"] = "Home Page"; }
@using GoodGuysCommunity.Web.Models.HomeViewModels
@model GoodGuysCommunity.Web.Models.HomeViewModels.PostsListAndResourcesViewModel

<div class="coolpic" id="homepic"></div>
<div id="sidebar">
    <p class="anotext">Stream</p>
    <a asp-area="broadcast" asp-controller="live" asp-action="watch"><img src="~/images/buttonbeta.png" id="streamimage"></a>
    <p class="anotext">Latest from forum:</p>
    <div>
        @foreach (var post in Model.Posts)
        {
            <div class="forumcontent"><a class="threadtitle" href="/forum/posts/details?id = @post.Id">@post.AuthorName : @post.Name</a></div>
        }
    </div>
    <p class="anotext">Latest uploaded resources:</p>
    <div>
        @foreach (var resource in Model.Resources)
            {
        <div class="forumcontent">
            <a href="/resources/manage/downloadresource?currentpath=/resources/@resource.FilePath" class="threadtitle">@resource.AuthorName : @resource.Name</a></div>
            }
        </div>
</div>


