@model ResourceFolderViewModel
@{
    var lenght = Model.Path.Length - 2;
    var prevPath = Model.Path.Substring(0, lenght >= 0 ? lenght : 0);
    var index = prevPath.LastIndexOf("/", StringComparison.Ordinal);
    prevPath = prevPath.Substring(0, index >= 0 ? index : 0);
    prevPath += "/";
}
<div>You are in: @Model.Path <a href="/resources/browse?path=@prevPath">Back</a></div>
<br/>
ADD FOLDER
<form action="/resources/manage/addfolder" method="post">
    Name: <input type="text" name="name" />
    <input type="hidden" name="currentpath" value="@Model.Path" required/>
    <input type="submit" value="Add folder" />
</form>
<br/>
ADD RESOURCE
<form action="/resources/manage/addresource" method="post" enctype="multipart/form-data">
    Resource: <input type="file" name="file" />
    <input type="hidden" name="currentpath" value="@Model.Path"required />
    <input type="submit" value="Add resource" />
</form>
<br />

<ul>
    @foreach (var subfolder in Model.Children)
    {
        <li><a href="/resources/browse?path=@subfolder.Path">Folder</a> - @subfolder.Name</li>
    }
</ul>

<ul>
    @foreach (var resource in Model.Resources)
    {
        <li>Resource - @resource.Name</li>
    }
</ul>
