@model PostDetailsViewModel

<h1>@Model.Name</h1>
<br />
<h2>@Model.Content</h2>
<br />

<div>
    @foreach (var comment in Model.Comments) {
        <div>@comment.Content</div>
     }
</div>
<form action="/forum/comments/add" method="post">
    Add comment: <textarea name="Content"></textarea>
    <input type="hidden" name="Username" value="@this.User.Identity.Name" />
    <input type="hidden" name="PostId" value="@Model.Id" />
    <input type="submit" name="Submit" value="Submit" />
</form>